<div class="ui container" style="margin-top: 100px">
  <h1>Contact Us</h1>
  <div class="ui card" style="padding: 20px">
    <h3>Lead Developer: Carl Araya</h3>
    <a href="https://www.facebook.com/carl.araya">Facebook</a>
    <a href="https://www.twitter.com/realctriplea">Twitter</a>
    Email Address: carl.araya256@gmail.com
  </div>
</div>
