<div class="scroller wow fadeIn" style="visibility: hidden">
  <div><img class="ui fluid image" src="assets/slide1.jpg"></img></div>
  <div><img class="ui fluid image" src="assets/slide2.jpg"></img></div>
  <div><img class="ui fluid image" src="assets/slide3.jpg"></img></div>
</div>

<div id="intro-text">
  <div class="ui grid">
    <div class="right aligned eight wide column wow fadeInLeftBig" data-wow-delay="1s">
      <h1 class="ui header">Kay Binay, gaganda ang buhay.</h1>
    </div>
    <div class="left aligned eight wide column wow fadeInRightBig" data-wow-delay="1s">
      <p class="ui header">Iboto natin si Binay sa darating na eleksyon.</p>
    </div>
  </div>
</div>
