/*
 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 *= require animate
 */

@import 'slick.css';
@import 'slick-theme';


.ui.menu {
    a.header.item {
        font-size: 120%;
        font-style: italic;
        padding: 16px;
    }
}


#main {
    margin-top: 50px;
}

#intro-text {
    width: 100%;
    h1 {
        font-style: italic;
    }
}
