<!DOCTYPE html>
<html>
<head>
  <title>Binay for President!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="orange ui large fixed inverted menu">
  <a class="header item" href="<%= root_path %>">Binay Website</a>
  <div class="ui dropdown link item">
    The Family
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item"><img class="ui circular image" src="assets/jojo.jpg"></img>Jejomar "Jojo" Binay, Sr.</a>
      <a class="item"><img class="ui circular image" src="assets/nancy.jpg"></img>Maria Lourdes "Nancy" Binay</a>
      <a class="item"><img class="ui circular image" src="assets/junjun.jpg"></img>Jejomar Erwin "Junjun" Binay</a>
    </div>
  </div>
  <div class="right menu">
    <a class="item" href="<%= contact_us_path %>">Contact Us</a>
  </div>
</div>

<div id="main">
<%= yield %>
</div>

</body>
</html>
